* {
    margin: 0;
    padding: 0;
}




.hero {
    background-image: url(bilder/subnautica-background.jpg);
    background-attachment: fixed;
}



.intro-container {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.intro-tekst {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Orbitron', sans-serif; 
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    

}


ul,
a,
.nav-links {
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 40px;
    text-transform: uppercase;

}